{
	auto_https off
}

:8090 {
	handle_path /signaling* {
		reverse_proxy signaling:8765
	}

	handle_path /ws* {
		reverse_proxy arcturus:2096
	}

	handle_path /assets/* {
		reverse_proxy nitro:8080
	}

	handle_path /swf/* {
		reverse_proxy nitro:8081
	}

	handle {
		reverse_proxy nitro:5154
	}
}
